*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Segoe UI',sans-serif;
}

body{
background: linear-gradient(135deg,#7ecbff,#4da3ff,#6f8cff);
height:100vh;
color:#222;
}

/* SIDEBAR */

.sidebar{
position:fixed;
width:230px;
height:100%;
background:rgba(255,255,255,0.25);
backdrop-filter: blur(15px);
padding-top:25px;
border-right:1px solid rgba(255,255,255,0.3);
}

.logo-circle{
width:70px;
height:70px;
background:#ffb347;
border-radius:50%;
margin:auto;
margin-bottom:10px;
}

.sidebar h2{
text-align:center;
margin-bottom:20px;
}

.sidebar a{
display:block;
margin:15px;
padding:12px;
text-decoration:none;
color:black;
border-radius:10px;
transition:0.3s;
font-weight:600;
}

.sidebar a:hover{
background:#4da3ff;
color:white;
transform:translateX(5px);
}

/* CONTENT */

.content{
margin-left:250px;
padding:50px;
}

/* HERO */

.hero-title{
font-size:55px;
font-weight:700;
margin-bottom:10px;
}

.hero-sub{
font-size:22px;
margin-bottom:25px;
color:#333;
}

.hero-btn{
padding:14px 30px;
background:#ffb347;
border:none;
border-radius:30px;
font-weight:bold;
cursor:pointer;
transition:0.3s;
}

.hero-btn:hover{
transform:scale(1.1);
background:#ff9933;
}

/* CARDS */

.cards{
display:flex;
gap:20px;
margin-top:50px;
}

.card{
background:rgba(255,255,255,0.35);
backdrop-filter:blur(15px);
padding:25px;
border-radius:20px;
width:250px;
transition:0.3s;
box-shadow:0 10px 25px rgba(0,0,0,0.1);
}

.card:hover{
transform:translateY(-10px);
}

/* ABOUT */

.section{
margin-top:30px;
font-size:26px;
font-weight:600;
}

.line{
height:2px;
background:black;
margin:15px 0;
width:70%;
}

/* HOW IT WORKS */

.columns{
display:flex;
gap:40px;
margin-top:40px;
}

.col{
flex:1;
padding:30px;
background:rgba(255,255,255,0.35);
border-radius:20px;
text-align:center;
transition:0.3s;
}

.col:hover{
transform:scale(1.05);
}

/* FOOTER */

.footer{
position:fixed;
bottom:0;
width:100%;
text-align:center;
background:rgba(255,255,255,0.4);
padding:10px;
backdrop-filter:blur(10px);
}